

.checkout-container{
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    width: 70%;
    background: rgb(106, 104, 104);
    border-radius: 10px;
    border: 2px solid white;
    padding: 2.5rem;
    box-shadow: -29px -14px 28px 10px rgba(0,0,0,0.1);
};
.title-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
};
.empty {
    color:white;
    margin: 3rem auto;
    button {
        margin-top: 3rem;
        background-color: rgb(66, 66, 68) !important;
        color: white;
        &:hover {
            background-color:  rgb(114, 115, 117) !important;
            color: rgb(46, 45, 45);
        }
    }
};
footer {
    color: white;
    margin-top: 3rem;
}