.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        cursor: pointer;
    }
}
.menuBar {
    position: absolute;
    z-index: 12;
    overflow: hidden;
    opacity: 0;
   ul {
    padding: 7px ;
    width: 70px;
    background: rgba( 132, 133, 164, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 2px;
    font-size: var(--size-3);
   }
    li{
        font-size: var(--size-3);
        list-style: none;
        margin-bottom: 5px;
        :hover {
            opacity: 0.5;
        }
    } 
    a {
        text-decoration: none;
    color: var(--text-color);
    }
}

.isOpen {
    opacity: 1;
    animation: slide-down 400ms ease-out forwards;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(0rem);
    }
    to {
      opacity: 1;
      transform: translateY(1.5rem);
    }
  
}
.activeLink {
    opacity: 0.5;
}